@model IEnumerable<Loja.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create" class=" btn btn-primary">Nova categoria</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descritivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descritivo)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.CategoriaId">Edit</a> |
                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> |
                <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.CategoriaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
