@model IEnumerable<Loja.Models.Compra>

@{
    ViewData["Title"] = "Compras";
}

<h1>Compras</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova compra</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Cpf)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.CompraId">Edit</a> |
                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.CompraId">Details</a> |
                <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.CompraId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
